# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.suo
*.xnb
*.xnb
finalProject/finalProject/finalProject/obj/x86/Debug/ContentPipeline-{6CFD767B-7EE4-4970-9864-8E2EA5D21C7C}.xml
finalProject/finalProject/finalProject/obj/x86/Debug/cachefile-{6CFD767B-7EE4-4970-9864-8E2EA5D21C7C}-targetpath.txt
finalProject/finalProject/finalProject/obj/x86/Debug/finalProject.csproj.FileListAbsolute.txt
finalProject/finalProject/finalProjectContent/obj/x86/Debug/finalProjectContent.contentproj.FileListAbsolute.txt
finalProject/finalProject/finalProjectContent/obj/x86/Debug/finalProjectContent.contentprojResolveAssemblyReference.cache
finalProject/finalProject/finalProjectContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
finalProject/finalProject/finalProject/obj/x86/Debug/finalProject.csprojResolveAssemblyReference.cache
finalProject/finalProject/finalProject/bin/x86/Debug/Content/UserInterface/menufont.xnb
finalProject/finalProject/finalProject/obj/x86/Debug/cachefile-{6CFD767B-7EE4-4970-9864-8E2EA5D21C7C}-targetpath.txt
finalProject/finalProject/finalProject/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
finalProject/finalProject/finalProject/obj/x86/Debug/finalProject.csproj.FileListAbsolute.txt
finalProject/finalProject/finalProject/obj/x86/Debug/finalProject.csprojResolveAssemblyReference.cache
finalProject/finalProject/finalProjectContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
finalProject/finalProject/finalProjectContent/obj/x86/Debug/finalProjectContent.contentproj.FileListAbsolute.txt
finalProject/finalProject/finalProjectContent/obj/x86/Debug/finalProjectContent.contentprojResolveAssemblyReference.cache
finalProject/finalProject/finalProjectContent/obj/x86/Debug/finalProjectContent.contentproj.FileListAbsolute.txt
finalProject/finalProject/finalProject/obj/x86/Debug/finalProject.pdb
finalProject/finalProject/finalProject/obj/x86/Debug/finalProject.exe
finalProject/finalProject/finalProject/obj/x86/Debug/finalProject.csproj.FileListAbsolute.txt
finalProject/finalProject/finalProject/obj/x86/Debug/cachefile-{6CFD767B-7EE4-4970-9864-8E2EA5D21C7C}-targetpath.txt
finalProject/finalProject/finalProject/finalProject.csproj.Debug.cachefile
finalProject/finalProject/finalProject/finalProject.csproj
finalProject/finalProject/finalProject/bin/x86/Debug/finalProject.pdb
finalProject/finalProject/finalProject/bin/x86/Debug/finalProject.exe